@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import "null.scss";

body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    overflow-x: hidden;
    

}
.container{
    max-width: 1170px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 15px;
}
@media (max-width:1170px){
    .container{
        max-width: 970px;
    }
}
@media (max-width:992px){
    .container{
        max-width: 750px;
    }
}
@media (max-width:767px){
    .container{
        max-width: 750px;
    }
}
ion-icon{
    margin: 0 5px;
}
.header-menu{    
    background: #ba0000;
    height: 50px;
    font-weight: 400;
    font-size: 14px;
    padding-top: 17px ;
    color: #fff;
  
}
    

.header-menu__row{
   display: flex;
   justify-content: space-between;
}
.English-txt, .Contact-Center-txt, .Contact-Center-txt2{
    display: flex;
    align-items: center;
    transition:  0.3s linear;
    &:hover {
        color:#ffcc00;
        
       }
}
.Contact-Center-txt {
    margin-right: 30px;
}
.Contact-center{
    display: flex;
    
}
@media (max-width: 469px) {
    .Contact-Center-txt{
        display: none;
    }
}
.main-menu{
    background: #ffcc00;
    height: 120px;
}
.dhl-logo{
    background-image: ("/PSD");
    padding-top: 38px;
}
@media (max-width:1170px){
    .container{
        max-width: 970px;
    }
    
}
@media (max-width:767px){
    .main-menu__nav{
        margin-left: 50px;
    }
}
.main-menu__row{
    display: flex;
    padding-bottom: 20px;
    
}
.main-menu__nav{
    margin-top: 58px;
    color: #ba0000;
    font-size: 14px;
    font-weight: 400px;
    margin-left: 130px;
    
    & a{
        margin-right: 45px;
    }
    & a:last-child{
        margin: 0;
    }
    
}

.main-menu__nav_a{
    transition:  0.3s linear;
    &:hover {
        color:#fff;
        
       }
}
@media (max-width:1170px){
    .main-menu__nav{
        margin-left: 100px;
    } 
}
@media (max-width:992px){
    .main-menu__nav{
        margin-left: 70px;
    }
}
@media (max-width:887px){
    .main-menu__nav{
        margin-left: 50px;
    }
    .main-menu__nav{
        & a{
            margin-right: 35px;
        }
    }
}
@media(max-width:788px){
    .main-menu__nav{
        display: none;
    }
    .main-menu__row{
        
        justify-content: space-between;
    }
}
.main-menu__burger{
    font-size: 64px;
    color: #ba0000;
    display: flex;
    margin-top: 20px;
}
@media (min-width:788px){
    .main-menu__burger{
        
        display: none;
    }
    
}
.search{
    margin-left: 210px;
    margin-top: 30px;
    background-color: #ba0000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 9px 5px 20px -5px #ba0000;
    margin-top: 44px;
    transition: color,box-shadow  0.3s, .3s;
  
}
.search:hover{
    color: #ffcc00;
    box-shadow: 8px 5px 20px -2px #ba0000;
}
@media (max-width:1170px){
    .search{
        display: none;
    }
}

.slider{
    height: 800px;  
    background-image: url(img/Layer3.png);
    background-position:center;
}
.slider__title{
    //font-size: 70px;
    color: #fff;
    width: 500px;
    font-weight: 600;
    margin-top: 100px;
    font-size: calc(30px + 40 *(100vw / 1920));
}
@media(max-width: 767px){
    .slider__title{
        font-size: calc(30px + (40 + 40 * 0.7) * ((100vw - 320px) / 1920));
    }
    .slider__text{
        font-size: calc(13px + (17 + 17 * 0.7) * ((100vw - 320px) / 1920));

    }
    .slider__plus{
        font-size: calc(10px + (10 + 10 * 0.7) * ((100vw - 320px) / 1920));

    }
    .learn-more{
        font-size: calc(10px + (2 + 2 * 0.7) * ((100vw - 320px) / 1920));

    }
    .shipping{
        font-size: calc(10px + (2 + 2 * 0.7) * ((100vw - 320px) / 1920));

    }
    .services__title-sh{
        font-size: calc(50px + (100 + 100 * 0.7) * ((100vw - 320px) / 1920));

    }
    .services__title{
        font-size: calc(22px + (28 + 28 * 0.7) *((100vw - 320px) / 1920));
        margin-top: calc(120px + (30 + 30 * 0.7) *((100vw - 320px) / 1920))
    }
    .features-title{
        font-size: calc(18px + (12 + 12 * 0.7) *((100vw - 320px) / 1920));
    }
}
.slider__border{
    margin-top: 60px;
    margin-bottom: 35px;
    width: 100px;
    height: 5px;
    background-color: #ffcc00;
}
.slider__text{
    color: #ffcc00;
    
    font-size: calc(13px + 17 *(100vw / 1920));
    & p{
        line-height: 2;
    }
}
.slider__plus{
    display: flex;
    margin-top: 44px;
    font-size: calc(10px + 10 *(100vw / 1920));

    & h3{
        color: #fff;
        //font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }
    & p{
        //font-size: 20px;
        font-weight: 600px;
        color: #ffcc00;
        margin: 0 30px;
    }
}
.slider__buttn{
    margin-top: 45px;
    padding-bottom: 20px;
}
.learn-more{
    background: #ffcc00;
    color: #ba0000;
    font-size: calc(10px + 2 *(100vw / 1920));

    text-transform: uppercase;
    font-weight: 400px;
    height: 50px;
    padding: 0 35px;
    border-radius: 50px;
    margin-right: 30px;transition: all 0.3s ease-in-out;
    &:hover{
        box-shadow: 0 0 40px 0 #ffcc00;
        transition: box-shadow 0.3s ease-in-out;
        
    }
    
    &:hover::after {
        opacity: 1;
      }
}
.shipping{
    font-size: calc(10px + 2 *(100vw / 1920));

    border:2px solid #fff;
    background: rgba(190, 42, 33,0.09);
    text-transform: uppercase;
    font-weight: 400px;
    height: 50px;
    padding: 0 35px;
    border-radius: 50px;
    color: #fff;
    transition: all 0.3s ease-in-out;
    &:hover{
        box-shadow: 0 0 20px 0 #edeaea;
        transition: box-shadow 0.3s ease-in-out;
        
    }
    
    &:hover::after {
        opacity: 1;
      }
}

.services__title{
    margin-top: calc(120px + 30 *(100vw / 1920));;
    font-weight: 600;
    color: #ba0000;
    font-size: calc(22px + 28 *(100vw / 1920));
    position:absolute;
    z-index: 2;
}
.services__title-sh{
    font-weight: 600;
    text-transform: uppercase;
    font-size: calc(50px + 100 *(100vw / 1920));
    color: #f8f8f8;
    margin-top: 100px;
    position:absolute;
    z-index: 1;

}
.services__work{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 240px;
}
.works-1, .works-2, .works-3, .location-form{
    width: 270px;
    height: 340px;
    margin-top: 50px;
}
.works-2, .works-3, .location-form{
    margin-left: 20px;
}
.works__photo{
    height: 180px;
    width: 100%;
}
.works__title {
    color: #ba0000;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 30px;
}
.works__text {
    color: #777777;
    font-size: 16px;
    margin-top: 20px;
}
.works__more{
    display: flex;
    align-items: center;
    font-weight: 800;
    margin-top: 20px;
    
}
@media (max-width:1170px){
    .works-1, .works-2, .works-3, .location-form{
        background-color: #edeaea;
        box-shadow: 0px 5px 20px -7px #343433;
        border-radius: 5px;
        height: 350px;
        
    }
    .works__text, .works__title, .works__more{
        padding-left: 10px;
        padding-right: 10px;
        
    }
    .works__more{
        padding-bottom: 10px;
    }
   
}
.location-form{
    background: #ba0000;
    margin-bottom: 100px;
}
.location-form-container{
    width: 212px;
    margin: 30px auto;
}
.location-form-title{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.location-form-border{
    width: 70px; 
    height: 2px;
    background-color:#ffcc00;  
    margin: 30px 0; 
}
.location-form-txt{
    color: #fff;
    font-weight: 16;
    & p{
        line-height: 1.5;
    }
}
.location-forms{
    background: #9d0000;
    width: 160px;
    padding-left: 15px;
    height: 50px;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    
    &::placeholder{
        color: #fff;
    }
    transition: all 0.3s ease-in-out;
    &:hover{
        box-shadow: 0 0 20px 0 #343433;
        transition: box-shadow 0.3s ease-in-out;
        
    }
    
    &:hover::after {
        opacity: 1;
      }

}
.location__type{
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
}
.location-butn{
    width: 50px;
    height: 50px;
    background-color: #ffcc00;
    color: #ba0000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    &:hover{
        box-shadow: 0 0 40px 0 #ffcc00;
        transition: box-shadow 0.3s ease-in-out;
        
    }
    
    &:hover::after {
        opacity: 1;
    }
}
.explore{
    width: 150px;
    height: 50px;
    background-color: #ffcc00;
    color: #ba0000;
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    &:hover{
        box-shadow: 0 0 40px 0 #ffcc00;
        transition: box-shadow 0.3s ease-in-out;
        
    }
    
    &:hover::after {
        opacity: 1;
      }
}
.about-bg{
    background-image:url(img/overley.png), url(img/Layer6.png);
    background-position:center;
    height: 700px;
}

.about__title{
    display: flex;
    justify-content: center;
    padding-top: 155px;
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.about__play{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffcc00;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 48%;
    margin-top: 60px;
    box-shadow: 0px 4px 14px 0 #ffcc00;
    margin-bottom: 165px;
}
@media(min-width:1228px){
    .express_logistics__form{
        margin-top: 300px;
    }
}
@media(max-width:1228px){
    .about{
        display: none;
    }
    .express_logistics__form{
       
        margin-top: 100px;
    }
    .express_logistics{
        padding: 10px;
    }
}
.about__slider{
    display: flex;
    position: absolute;
    z-index: 2;
    transform: translate(0 ,-200px);
    justify-content: center;
    
}
.about__slider-exe{
    margin-right: 30px;
  
    width: 370px;
    height: 409px;
    box-shadow: 0px 15px 20px -15px #777;
}
.about__slider-exe-photo{
    max-height: 200px;
}
.about__slider-container{
    width: 280px;   
    margin:  30px auto ;
}
.about__slider-exe-tittle{
    color: #ba0000;
    font-size: 20px;
    font-weight: 600;
    margin-left: 2px;
    margin-bottom: 35px;
}
.about__slider-exe-ul{
    color: #777777;
    font-size: 16px;
    line-height: 1.5;
}
.about__slider-exe-ul-li{
    & ion-icon{
        color: #ffcc00;
        margin-left: 0;
    }
    display: flex;
    align-items: center;
}

@media  (max-width:1333px){
    .express_logistics__row{
        display: flex;
        justify-content: center;
        
    }
}
.about-moble{
    display: flex;
    flex-wrap: wrap;
}
.express_logistics__form{
    
    background: #ba0000;
    width: 570px;
    padding-bottom: 20px;
    
}
.express_logistics__button{
    display: flex;
    height: 50px;
}
.express_logistics__button-head1{
    background: #ba0000;
    width: 285px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
.express_logistics__button-head2{
    background: #ffcc00;
    width: 285px;
    color: #ba0000;
    text-transform: uppercase;
    font-weight: 600;
}
.express_logistics-container{
    margin: 40px;
}
.express_logistics-input1, .express_logistics-input-srt-open{
    height: 46px;
    padding: 15px 15px;
    background: #ba0000;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #fff;
    width: 100%;
    
}
.express_logistics-input{
    transition: all 0.3s ease-in-out;
    &:hover{
        box-shadow: 0 0 20px 0 #ddd4d4;
        transition: box-shadow 0.3s ease-in-out;
        border: 4px #f6f2f2;
    }
    
    &:hover::after {
        opacity: 1;
      }
}
.express_logistics-input, .express_logistics-input-open{
    display: flex;
    margin-bottom: 20px;
    
}
.express_logistics-button1,.express_logistics-button-open
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ba0000;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    color: #fff;
    width: 50px;
    height:  auto; 
}
.express_logistics-input-open{
    display: flex;
    margin-bottom: 0;
    
}
.express_logistics-open{
   
    border-left: 2px solid #ffcc00;
    border-right: 2px solid #ffcc00;
    border-bottom: 2px solid #ffcc00;
    transition: all 0.3s ease-in-out;
    &:hover{
        box-shadow: 0 0 20px 0 #ffcc00;
        transition: box-shadow 0.3s ease-in-out;
        
    }
    
    &:hover::after {
        opacity: 1;
      }
}
.express_logistics-input-srt-open{
    background-color: #ffcc00;
    color: #ba0000;
    font-weight: 600;
    border: none;
}
.express_logistics-button-open{
    background-color: #ffcc00;
    border: none;
    border-left: 2px solid #ba0000;
    & ion-icon{
        display: inline-block;
        transform: rotate(180deg);
        color: #ba0000;
    }
}
.express_logistics-opene-ul{
    color: #fff;
    font-size: 16px;
    line-height: 1.5px;
    & ion-icon{
        color: #ffcc00;
    }
    margin-left: 20px;
}
.express_logistics-open-ul-li{
    & ion-icon{
        color: #ffcc00;
        margin-left: 0;
    }
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.express_logistics-open-title{
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.express_logistics-img{
    position: absolute;
    z-index: 2;
    transform: translate(716px,-563px);
}
@media  (max-width:1333px){
    .express_logistics-img{
        display: none;
    }
}
@media(max-width:546px){
    .express_logistics__form{
        padding-bottom: 0;
        width: 520px;
    }
   
}
@media(max-width:480px){
    .express_logistics-container{
        margin: 30px 40px 30px 40px;
    }
    .express_logistics__form{
        width: 470px;
    }
}
@media(max-width:425px){
    .express_logistics__form{
        
        width: 430px;
    }
   
}
@media(max-width:390px){
    .express_logistics__form{
        width: 390px;
    }
   
}

.img-people{
    height: 580px;
}
.features{
    margin-top: 100px;
    background-color: #ba0000;

}
.features-inf{
    max-width: 640px;
}
.features-title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: calc(18px + 12 *(100vw / 1920));
    margin-top: 100px;
    margin-bottom: 40px;
}
.features-txt{
    color: #fff;
    
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 100px;
}
.features-button{
    display: flex;
    align-items: center;
    padding-right: 20px;
    
}
.features-but{
    padding: 20px 35px ;
    color: #fff;
    background-color: #a00000;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    &:hover{
        box-shadow: 0 0 20px 0 #ffcc00;
        transition: box-shadow 0.3s ease-in-out;
        
    }
    
    &:hover::after {
        opacity: 1;
      }
}
.features__row{
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
}

@media(max-width:834px){
    .features-txt{
        margin-bottom: 0;

    }
    .features-button{
        margin: 50px 0 50px 100px;
    }
}
.client__row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media(max-width:1170px){
    .client__row{
        justify-content: center;
        
    }
    .client__logo{
        margin-right: 20px;
    }
}

.client__logo{
    margin-top: 70px;
    width: 270px;
    height: 130px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #eedbdb;
    transition: border 0.3s ease-in-out;
    &:hover{
        border: 2px solid #ba0000;
        
    }
    
    &:hover::after {
        opacity: 1;
      }
}
footer{
    margin-top: 70px;
}
.footer__nav{
    display: flex;
    justify-content: space-around;
    position: absolute;
    z-index: 2;
    transform: translate(116px,0px);
    margin-top: 70px;
}
.footer__nav-contact, .footer__nav-about{
    margin-right: 200px;
}
.footer__nav-tittle{
    color: #ba0000;
    font-size: 20px;
    font-weight: 600;
}
.footer__nav-ul{
    margin-top: 40px;
}
.footer__nav-ul-li, .footer__nav-ul-li-sotial{
    & ion-icon{
        color: #ffcc00;
        margin-left: 0;
    }
    display: flex;
    align-items: center;
    color: #777;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    text-transform: uppercase;
    transition:  0.3s linear;
    &:hover {
        color: #ffcc00;
        
       }
}
.footer__nav-ul-li-sotial{
    transition:  0.3s linear;
    &:hover {
        color: #017edf;
        
       }
}
.footer__bg{
    display: flex;
    justify-content: space-between;
}
@media (max-width:1706px){
    .footer__bg{
        display: none;
    }
}
@media(max-width:1180px){
    .footer{
        display: none;
    }
}
@media (min-width:1180px){
    .footer-moble{
        display: none;
    }
}
.footer-moble{
    margin-top: 100px;
    background-color: #ffcc00;
}
.icon-center, .icon-about, .icon-soc{
    font-size: 32px;
    margin-right: 15px;
}
.Contact-center23, .About-Us23, .Social-Media-head{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ba0000;
    border-bottom: 2px solid #ba0000;
    display: flex;
    justify-content: space-between;
}
.icon-soc{
    & ion-icon{
        display: inline-block;
        transform: rotate(180deg);
        color: #ba0000;
    }
}
.Social-Media-head{
    border-bottom: none;
}
.Social-Media-ul-li-sotial{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #ba0000;
    line-height: 1.5;
    font-weight: 600;
    text-transform: uppercase;
    transition:  0.3s linear;
    margin-left: 15px;
    margin-bottom: 20px;
    &:hover {
        color: #fff;
        
       }
}
